In [1]:
import pandas as pd

In [2]:
df = pd.read_csv(r'diabetes.csv')
df

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
0,6,148,72,35,0,33.6,0.627,50,1
1,1,85,66,29,0,26.6,0.351,31,0
2,8,183,64,0,0,23.3,0.672,32,1
3,1,89,66,23,94,28.1,0.167,21,0
4,0,137,40,35,168,43.1,2.288,33,1
...,...,...,...,...,...,...,...,...,...
763,10,101,76,48,180,32.9,0.171,63,0
764,2,122,70,27,0,36.8,0.340,27,0
765,5,121,72,23,112,26.2,0.245,30,0
766,1,126,60,0,0,30.1,0.349,47,1
767,1,93,70,31,0,30.4,0.315,23,0

In [3]:
df[df.index==23]

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
23,9,119,80,35,0,29.0,0.263,29,1

In [4]:
df[df.index.isin(range(15,20))]

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
15,7,100,0,0,0,30.0,0.484,32,1
16,0,118,84,47,230,45.8,0.551,31,1
17,7,107,74,0,0,29.6,0.254,31,1
18,1,103,30,38,83,43.3,0.183,33,0
19,1,115,70,30,96,34.6,0.529,32,1

In [5]:
df.loc[23] #treat index as label

Pregnancies                   9.000
Glucose                     119.000
BloodPressure                80.000
SkinThickness                35.000
Insulin                       0.000
BMI                          29.000
DiabetesPedigreeFunction      0.263
Age                          29.000
Outcome                       1.000
Name: 23, dtype: float64

In [6]:
df.iloc[23] #treat as index

Pregnancies                   9.000
Glucose                     119.000
BloodPressure                80.000
SkinThickness                35.000
Insulin                       0.000
BMI                          29.000
DiabetesPedigreeFunction      0.263
Age                          29.000
Outcome                       1.000
Name: 23, dtype: float64

In [7]:
df.index=range(1,769)
df

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
1,6,148,72,35,0,33.6,0.627,50,1
2,1,85,66,29,0,26.6,0.351,31,0
3,8,183,64,0,0,23.3,0.672,32,1
4,1,89,66,23,94,28.1,0.167,21,0
5,0,137,40,35,168,43.1,2.288,33,1
...,...,...,...,...,...,...,...,...,...
764,10,101,76,48,180,32.9,0.171,63,0
765,2,122,70,27,0,36.8,0.340,27,0
766,5,121,72,23,112,26.2,0.245,30,0
767,1,126,60,0,0,30.1,0.349,47,1
768,1,93,70,31,0,30.4,0.315,23,0

In [8]:
df1= df.iloc[0:10,:4]

In [9]:
df1

    Pregnancies  Glucose  BloodPressure  SkinThickness
1             6      148             72             35
2             1       85             66             29
3             8      183             64              0
4             1       89             66             23
5             0      137             40             35
6             5      116             74              0
7             3       78             50             32
8            10      115              0              0
9             2      197             70             45
10            8      125             96              0

In [10]:
df.columns

Index(['Pregnancies', 'Glucose', 'BloodPressure', 'SkinThickness', 'Insulin',
       'BMI', 'DiabetesPedigreeFunction', 'Age', 'Outcome'],
      dtype='object')

In [11]:
df.loc[(df['Outcome']==1),['Pregnancies','Age']]

     Pregnancies  Age
1              6   50
3              8   32
5              0   33
7              3   26
9              2   53
..           ...  ...
756            1   37
758            0   52
760            6   66
762            9   43
767            1   47

[268 rows x 2 columns]

In [12]:
df.loc[(df['Glucose']<100)]

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
2,1,85,66,29,0,26.6,0.351,31,0
4,1,89,66,23,94,28.1,0.167,21,0
7,3,78,50,32,88,31.0,0.248,26,1
22,8,99,84,0,0,35.4,0.388,50,0
28,1,97,66,15,140,23.2,0.487,22,0
...,...,...,...,...,...,...,...,...,...
739,2,99,60,17,160,36.6,0.453,21,0
748,1,81,74,41,57,46.3,1.096,32,0
761,2,88,58,26,16,28.4,0.766,22,0
763,9,89,62,0,0,22.5,0.142,33,0
768,1,93,70,31,0,30.4,0.315,23,0

In [13]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 768 entries, 1 to 768
Data columns (total 9 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Pregnancies               768 non-null    int64
 1   Glucose                   768 non-null    int64
 2   BloodPressure             768 non-null    int64
 3   SkinThickness             768 non-null    int64
 4   Insulin                   768 non-null    int64
 5   BMI                       768 non-null    float64
 6   DiabetesPedigreeFunction  768 non-null    float64
 7   Age                       768 non-null    int64
 8   Outcome                   768 non-null    int64
dtypes: float64(2), int64(7)
memory usage: 54.1 KB

In [14]:
df['Glucose'].min()

0

In [15]:
df['BloodPressure'].min()

0

In [16]:
df['Insulin'].min()

0

In [17]:
df['Glucose'].max()

199

In [18]:
df['BloodPressure'].max()

122

In [19]:
df['Insulin'].max()

846

In [20]:
df['Age']

1      50
2      31
3      32
4      21
5      33
       ..
764    63
765    27
766    30
767    47
768    23
Name: Age, Length: 768, dtype: int64

In [21]:
df[['Age','Insulin','BloodPressure']].min()

Age              21
Insulin           0
BloodPressure     0
dtype: int64

In [22]:
df[['Age','Insulin','BloodPressure']].max()

Age               81
Insulin          846
BloodPressure    122
dtype: int64

In [23]:
df3 = df.groupby('Age')

In [24]:
df3.first()

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Outcome
Age,,,,,,,,
21,1,89,66,23,94,28.1,0.167,0
22,1,97,66,15,140,23.2,0.487,0
23,4,129,86,20,270,35.1,0.231,0
24,7,105,0,0,0,0.0,0.305,0
25,0,180,66,39,0,42.0,1.893,1
26,3,78,50,32,88,31.0,0.248,1
27,3,126,88,41,235,39.3,0.704,0
28,3,158,76,36,245,31.6,0.851,1
29,10,115,0,0,0,35.3,0.134,0
30,5,116,74,0,0,25.6,0.201,0
31,1,85,66,29,0,26.6,0.351,0
32,8,183,64,0,0,23.3,0.672,1
33,0,137,40,35,168,43.1,2.288,1
34,10,168,74,0,0,38.0,0.537,1
35,11,138,76,0,0,33.2,0.420,0
36,5,44,62,0,0,25.0,0.587,0
37,7,133,84,0,0,40.2,0.696,0
38,5,117,92,0,0,34.1,0.337,0
39,8,133,72,0,0,32.9,0.270,1
40,7,159,64,0,0,27.4,0.294,0
41,7,196,90,0,0,39.8,0.451,1
42,7,150,66,42,342,34.7,0.718,0
43,7,147,76,0,0,39.4,0.257,1
44,0,146,82,0,0,40.5,1.781,0
45,10,122,78,31,0,27.6,0.512,0
46,9,102,76,37,0,32.9,0.665,1
47,17,163,72,41,114,40.9,0.817,1
48,7,106,92,18,0,22.7,0.235,0
49,9,184,85,15,0,30.0,1.213,1
50,6,148,72,35,0,33.6,0.627,1
51,5,166,72,19,175,25.8,0.587,1
52,5,162,104,0,0,37.7,0.151,1
53,2,197,70,45,543,30.5,0.158,1
54,8,125,96,0,0,0.0,0.232,1
55,3,128,78,0,0,21.1,0.268,0
56,4,111,72,47,207,37.1,1.390,1
57,10,139,80,0,0,27.1,1.441,0
58,8,176,90,34,300,33.7,0.467,1
59,1,189,60,23,846,30.1,0.398,1
60,5,109,75,26,0,36.0,0.546,0
61,4,146,92,0,0,31.2,0.539,1
62,0,105,84,0,0,27.9,0.741,1
63,3,142,80,15,0,32.4,0.200,0
64,8,120,78,0,0,25.0,0.409,0
65,5,147,78,0,0,33.7,0.218,0
66,2,158,90,0,0,31.6,0.805,1
67,4,146,78,0,0,38.5,0.520,1
68,8,91,82,0,0,35.6,0.587,0
69,5,132,80,0,0,26.8,0.186,0
70,4,145,82,18,0,32.5,0.235,1
72,2,119,0,0,0,19.6,0.832,0
81,9,134,74,33,60,25.9,0.460,0

In [25]:
df3['Age'].count()

Age
21    63
22    72
23    38
24    46
25    48
26    33
27    32
28    35
29    29
30    21
31    24
32    16
33    17
34    14
35    10
36    16
37    19
38    16
39    12
40    13
41    22
42    18
43    13
44     8
45    15
46    13
47     6
48     5
49     5
50     8
51     8
52     8
53     5
54     6
55     4
56     3
57     5
58     7
59     3
60     5
61     2
62     4
63     4
64     1
65     3
66     4
67     3
68     1
69     2
70     1
72     1
81     1
Name: Age, dtype: int64

In [26]:
df.sort_values(by = ['Age'])

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
256,1,113,64,35,0,33.6,0.543,21,1
61,2,84,0,0,0,0.0,0.304,21,0
103,0,125,96,0,0,22.5,0.262,21,0
183,1,0,74,20,23,27.7,0.299,21,0
624,0,94,70,27,115,43.5,0.347,21,0
...,...,...,...,...,...,...,...,...,...
124,5,132,80,0,0,26.8,0.186,69,0
685,5,136,82,0,0,0.0,0.640,69,0
667,4,145,82,18,0,32.5,0.235,70,1
454,2,119,0,0,0,19.6,0.832,72,0
460,9,134,74,33,60,25.9,0.460,81,0

In [27]:
df.std(axis = 0, skipna = True)

Pregnancies                   3.369578
Glucose                      31.972618
BloodPressure                19.355807
SkinThickness                15.952218
Insulin                     115.244002
BMI                           7.884160
DiabetesPedigreeFunction      0.331329
Age                          11.760232
Outcome                       0.476951
dtype: float64

In [28]:
df.var(axis = 0, skipna = True)

Pregnancies                    11.354056
Glucose                      1022.248314
BloodPressure                 374.647271
SkinThickness                 254.473245
Insulin                     13281.180078
BMI                            62.159984
DiabetesPedigreeFunction        0.109779
Age                           138.303046
Outcome                         0.227483
dtype: float64

In [29]:
df.Age.map(lambda p: p -df.Age.mean())

1      16.759115
2      -2.240885
3      -1.240885
4     -12.240885
5      -0.240885
         ...
764    29.759115
765    -6.240885
766    -3.240885
767    13.759115
768   -10.240885
Name: Age, Length: 768, dtype: float64

In [30]:
df.columns

Index(['Pregnancies', 'Glucose', 'BloodPressure', 'SkinThickness', 'Insulin',
       'BMI', 'DiabetesPedigreeFunction', 'Age', 'Outcome'],
      dtype='object')

In [31]:
df4 = df.groupby(['Glucose', 'BloodPressure', 'SkinThickness'])
df4.first()

                                     Pregnancies  Insulin   BMI  \
Glucose BloodPressure SkinThickness
0       48            20                       1        0  24.7
        68            35                       1        0  32.0
                      41                       6        0  39.0
        74            20                       1       23  27.7
        80            32                       5        0  41.0
...                                          ...      ...   ...
197     70            45                       2      543  30.5
                      99                       2        0  34.7
        74            0                        8        0  25.9
198     66            32                       0      274  41.3
199     76            43                       1        0  42.9

                                     DiabetesPedigreeFunction  Age  Outcome
Glucose BloodPressure SkinThickness
0       48            20                                0.140   22        0
        68            35                                0.389   22        0
                      41                                0.727   41        1
        74            20                                0.299   21        0
        80            32                                0.346   37        1
...                                                       ...  ...      ...
197     70            45                                0.158   53        1
                      99                                0.575   62        1
        74            0                                 1.191   39        1
198     66            32                                0.502   28        1
199     76            43                                1.394   22        1

[756 rows x 6 columns]

In [32]:
df.groupby(['Pregnancies']).min()

,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
Pregnancies,,,,,,,,
0,57,0,0,0,0.0,0.078,21,0
1,0,0,0,0,18.2,0.088,21,0
2,56,0,0,0,0.0,0.085,21,0
3,61,0,0,0,0.0,0.107,21,0
4,76,0,0,0,20.8,0.118,21,0
5,0,48,0,0,0.0,0.135,24,0
6,0,0,0,0,0.0,0.084,23,0
7,62,0,0,0,0.0,0.128,24,0
8,65,0,0,0,0.0,0.129,22,0
9,57,52,0,0,20.8,0.096,29,0
10,68,0,0,0,0.0,0.134,29,0
11,85,0,0,0,28.3,0.126,35,0
12,84,62,0,0,23.6,0.137,38,0
13,76,0,0,0,22.2,0.178,38,0
14,100,62,25,0,33.6,0.212,38,1
15,136,70,32,110,37.1,0.153,43,1
17,163,72,41,114,40.9,0.817,47,1

In [33]:
df['Age'].unique()

array([50, 31, 32, 21, 33, 30, 26, 29, 53, 54, 34, 57, 59, 51, 27, 41, 43,
       22, 38, 60, 28, 45, 35, 46, 56, 37, 48, 40, 25, 24, 58, 42, 44, 39,
       36, 23, 61, 69, 62, 55, 65, 47, 52, 66, 49, 63, 67, 72, 81, 64, 70,
       68], dtype=int64)

In [34]:
df['Age'].nunique()

52

In [35]:
df.sort_values(by = ['Outcome'])

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
384,1,90,62,18,59,25.1,1.268,25,0
466,0,124,56,13,105,21.8,0.452,21,0
467,0,74,52,10,36,27.8,0.269,22,0
468,0,97,64,36,100,36.8,0.600,25,0
470,6,154,78,41,140,46.1,0.571,27,0
...,...,...,...,...,...,...,...,...,...
194,11,135,0,0,0,52.3,0.578,40,1
486,0,135,68,42,250,42.3,0.365,24,1
485,0,145,0,0,0,44.2,0.630,31,1
187,8,181,68,36,495,30.1,0.615,60,1
1,6,148,72,35,0,33.6,0.627,50,1

In [36]:
df.isnull().sum()

Pregnancies                 0
Glucose                     0
BloodPressure               0
SkinThickness               0
Insulin                     0
BMI                         0
DiabetesPedigreeFunction    0
Age                         0
Outcome                     0
dtype: int64

In [37]:
df['Age'].replace(to_replace =75, value =60)

1      50
2      31
3      32
4      21
5      33
       ..
764    63
765    27
766    30
767    47
768    23
Name: Age, Length: 768, dtype: int64

In [38]:
DPF = df['DiabetesPedigreeFunction']
count1 = DPF[DPF>2]
count1

5      2.288
229    2.329
371    2.137
446    2.420
Name: DiabetesPedigreeFunction, dtype: float64

In [39]:
Preg = df['Pregnancies']
count2 = Preg[Preg>2]
count2

1       6
3       8
6       5
7       3
8      10
       ..
760     6
762     9
763     9
764    10
766     5
Name: Pregnancies, Length: 419, dtype: int64

In [40]:
df['Age'].mask(df['Age'] >=75 ,60, inplace=True) #masking by replacing some values in the column with some other value

In [41]:
df

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
1,6,148,72,35,0,33.6,0.627,50,1
2,1,85,66,29,0,26.6,0.351,31,0
3,8,183,64,0,0,23.3,0.672,32,1
4,1,89,66,23,94,28.1,0.167,21,0
5,0,137,40,35,168,43.1,2.288,33,1
...,...,...,...,...,...,...,...,...,...
764,10,101,76,48,180,32.9,0.171,63,0
765,2,122,70,27,0,36.8,0.340,27,0
766,5,121,72,23,112,26.2,0.245,30,0
767,1,126,60,0,0,30.1,0.349,47,1
768,1,93,70,31,0,30.4,0.315,23,0

In [42]:
df.iloc[3:18] #in iloc we need to specify the indexing because it is exclusive the index

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
4,1,89,66,23,94,28.1,0.167,21,0
5,0,137,40,35,168,43.1,2.288,33,1
6,5,116,74,0,0,25.6,0.201,30,0
7,3,78,50,32,88,31.0,0.248,26,1
8,10,115,0,0,0,35.3,0.134,29,0
9,2,197,70,45,543,30.5,0.158,53,1
10,8,125,96,0,0,0.0,0.232,54,1
11,4,110,92,0,0,37.6,0.191,30,0
12,10,168,74,0,0,38.0,0.537,34,1
13,10,139,80,0,0,27.1,1.441,57,0
14,1,189,60,23,846,30.1,0.398,59,1
15,5,166,72,19,175,25.8,0.587,51,1
16,7,100,0,0,0,30.0,0.484,32,1
17,0,118,84,47,230,45.8,0.551,31,1
18,7,107,74,0,0,29.6,0.254,31,1

In [43]:
df.loc[4:18] #in loc we have to focus on that row itself because it is inclusive the index

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
4,1,89,66,23,94,28.1,0.167,21,0
5,0,137,40,35,168,43.1,2.288,33,1
6,5,116,74,0,0,25.6,0.201,30,0
7,3,78,50,32,88,31.0,0.248,26,1
8,10,115,0,0,0,35.3,0.134,29,0
9,2,197,70,45,543,30.5,0.158,53,1
10,8,125,96,0,0,0.0,0.232,54,1
11,4,110,92,0,0,37.6,0.191,30,0
12,10,168,74,0,0,38.0,0.537,34,1
13,10,139,80,0,0,27.1,1.441,57,0
14,1,189,60,23,846,30.1,0.398,59,1
15,5,166,72,19,175,25.8,0.587,51,1
16,7,100,0,0,0,30.0,0.484,32,1
17,0,118,84,47,230,45.8,0.551,31,1
18,7,107,74,0,0,29.6,0.254,31,1

In [44]:
df.iloc[3:18,2:5]

    BloodPressure  SkinThickness  Insulin
4              66             23       94
5              40             35      168
6              74              0        0
7              50             32       88
8               0              0        0
9              70             45      543
10             96              0        0
11             92              0        0
12             74              0        0
13             80              0        0
14             60             23      846
15             72             19      175
16              0              0        0
17             84             47      230
18             74              0        0

In [45]:
#df.loc[4:18,2:5]

In [46]:
df[['Age','Glucose','Outcome']] #by passing the list

     Age  Glucose  Outcome
1     50      148        1
2     31       85        0
3     32      183        1
4     21       89        0
5     33      137        1
..   ...      ...      ...
764   63      101        0
765   27      122        0
766   30      121        0
767   47      126        1
768   23       93        0

[768 rows x 3 columns]

In [47]:
df[['Age']] #by converting it into dataframe because single column make it series

     Age
1     50
2     31
3     32
4     21
5     33
..   ...
764   63
765   27
766   30
767   47
768   23

[768 rows x 1 columns]

In [48]:
df.loc[5:20,['Age','Glucose','Outcome']]

    Age  Glucose  Outcome
5    33      137        1
6    30      116        0
7    26       78        1
8    29      115        0
9    53      197        1
10   54      125        1
11   30      110        0
12   34      168        1
13   57      139        0
14   59      189        1
15   51      166        1
16   32      100        1
17   31      118        1
18   31      107        1
19   33      103        0
20   32      115        1

In [49]:
df.iloc[5:20:2,1:4:2]

    Glucose  SkinThickness
6       116              0
8       115              0
10      125              0
12      168              0
14      189             23
16      100              0
18      107              0
20      115             30

In [50]:
df[df.Outcome==1] #filter the data based on condition

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
1,6,148,72,35,0,33.6,0.627,50,1
3,8,183,64,0,0,23.3,0.672,32,1
5,0,137,40,35,168,43.1,2.288,33,1
7,3,78,50,32,88,31.0,0.248,26,1
9,2,197,70,45,543,30.5,0.158,53,1
...,...,...,...,...,...,...,...,...,...
756,1,128,88,39,110,36.5,1.057,37,1
758,0,123,72,0,0,36.3,0.258,52,1
760,6,190,92,0,0,35.5,0.278,66,1
762,9,170,74,31,0,44.0,0.403,43,1
767,1,126,60,0,0,30.1,0.349,47,1

In [51]:
df.loc[df['Outcome']==1,['Age','Glucose','Outcome']]

     Age  Glucose  Outcome
1     50      148        1
3     32      183        1
5     33      137        1
7     26       78        1
9     53      197        1
..   ...      ...      ...
756   37      128        1
758   52      123        1
760   66      190        1
762   43      170        1
767   47      126        1

[268 rows x 3 columns]

In [52]:
df.loc[5:20,['Age','Glucose','Outcome']]

    Age  Glucose  Outcome
5    33      137        1
6    30      116        0
7    26       78        1
8    29      115        0
9    53      197        1
10   54      125        1
11   30      110        0
12   34      168        1
13   57      139        0
14   59      189        1
15   51      166        1
16   32      100        1
17   31      118        1
18   31      107        1
19   33      103        0
20   32      115        1

In [53]:
#apply method and conditional like and or for selective selection and where condition

In [54]:
con1 = df.loc[df['Outcome']==1]
con1

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
1,6,148,72,35,0,33.6,0.627,50,1
3,8,183,64,0,0,23.3,0.672,32,1
5,0,137,40,35,168,43.1,2.288,33,1
7,3,78,50,32,88,31.0,0.248,26,1
9,2,197,70,45,543,30.5,0.158,53,1
...,...,...,...,...,...,...,...,...,...
756,1,128,88,39,110,36.5,1.057,37,1
758,0,123,72,0,0,36.3,0.258,52,1
760,6,190,92,0,0,35.5,0.278,66,1
762,9,170,74,31,0,44.0,0.403,43,1
767,1,126,60,0,0,30.1,0.349,47,1

In [55]:
con2 = df.loc[5:20,['Age','Glucose','Outcome']]
con2

    Age  Glucose  Outcome
5    33      137        1
6    30      116        0
7    26       78        1
8    29      115        0
9    53      197        1
10   54      125        1
11   30      110        0
12   34      168        1
13   57      139        0
14   59      189        1
15   51      166        1
16   32      100        1
17   31      118        1
18   31      107        1
19   33      103        0
20   32      115        1

In [56]:
#df.where(con1 & con2, inplace = True)

In [57]:
df

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
1,6,148,72,35,0,33.6,0.627,50,1
2,1,85,66,29,0,26.6,0.351,31,0
3,8,183,64,0,0,23.3,0.672,32,1
4,1,89,66,23,94,28.1,0.167,21,0
5,0,137,40,35,168,43.1,2.288,33,1
...,...,...,...,...,...,...,...,...,...
764,10,101,76,48,180,32.9,0.171,63,0
765,2,122,70,27,0,36.8,0.340,27,0
766,5,121,72,23,112,26.2,0.245,30,0
767,1,126,60,0,0,30.1,0.349,47,1
768,1,93,70,31,0,30.4,0.315,23,0

In [58]:
def obes(x):
    if x>=25:
        return "overweight"
    else:
        return "normal"

In [59]:
df['warning']= df['BMI'].apply(obes)

In [60]:
df #to tag data in some condition we use apply method based on vectorization

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome,warning
1,6,148,72,35,0,33.6,0.627,50,1,overweight
2,1,85,66,29,0,26.6,0.351,31,0,overweight
3,8,183,64,0,0,23.3,0.672,32,1,normal
4,1,89,66,23,94,28.1,0.167,21,0,overweight
5,0,137,40,35,168,43.1,2.288,33,1,overweight
...,...,...,...,...,...,...,...,...,...,...
764,10,101,76,48,180,32.9,0.171,63,0,overweight
765,2,122,70,27,0,36.8,0.340,27,0,overweight
766,5,121,72,23,112,26.2,0.245,30,0,overweight
767,1,126,60,0,0,30.1,0.349,47,1,overweight
768,1,93,70,31,0,30.4,0.315,23,0,overweight